html
{
  background:black;
  height:100%;
  padding:0;
  font-family: 'Nanum Gothic', sans-serif;
}
body
{
  padding:0;
  margin:0;
}

@keyframes fadeout
{
  from
  {
    opacity:1;
  }
  to
  {
    opacity:0;
  }
}

.mbti_l
{
  width:300px;
  text-align:right;
  display:inline-block;
}
.mbti_r
{
  width:300px;
  text-align:left;
  display:inline-block;
}

#overlay
{
  font-family:sans-serif !important;
  padding:25% 0;
}

#content
{
  width:1000px;
  margin:auto;
  z-index:11;
  position:relative;
}
#header
{
  width:1000px;
  margin:auto;
}

h1
{
  text-align:center;
  margin-bottom:0;
}
hr
{
  border-color:black;
}
p
{
  margin-left:10px;
  margin-right:10px;
  overflow:hidden;
  text-overflow:ellipsis;
}
h2
{
  margin-left:20px;
  margin-bottom:5px;
}
h2+p
{
  margin-top:0px;
}

a
{
  text-decoration:none;
  color:rgba(0,64,128,0.8);
}

.label, .data
{
  display: inline-block;
  vertical-align:top;
  margin-top:6px;
}
.label
{
  text-align:right;
  width:200px;
  padding-right:5px;
}
.data
{
  width:420px;
}

.section
{
  display:none;
  padding:5px;
}

.section.displayed
{
  display:initial !important;
}

a.header_link
{
  color:blue;
}
a.header_link:hover
{
  color:green;
}

.header_link
{
  font-size:25px;
  fill: rgba(128,128,128,0.5);
}
.header_link:hover
{
  fill: rgba(64,64,255,1);
}
.header_link.selected
{
  fill: rgba(0,255,0,0.5);
  cursor:default;
}

#in_depth_mbtienneagram > p
{
  background:rgba(128,128,128,0.6);
}

ul
{
  padding-inline-start: 25px;
  padding-inline-end: 10px;
}
